# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# SonarQube
.sonarqube/
.scannerwork/
sonar-project.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse / VS Code
.classpath
.project
.settings/
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Secretos - NUNCA subir tokens
.env
*.token
